
/Modl/obj
/Modl/bin
/ExampleModel/bin
/ExampleModel/obj
/TestResults
/Tests/bin
/Tests/obj
/Examples/MvcApplication/bin
/Examples/MvcApplication/obj
/CRUD.psess
/CRUD110511.vsp
/Local.testsettings
/Modl.suo
/Modl.vsmdi
/Modl/Modl.csproj.user
/TraceAndTestImpact.testsettings