<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ModlDb" connectionString="Server=localhost\SQLEXPRESS;Integrated Security=SSPI;Database=Modl;" providerName="System.Data.SqlClient" />
    <!--<add name="ModlDb" connectionString="Data Source=SQLCE4.sdf;" providerName="Microsoft.SQLSERVER.CE.OLEDB.4.0" />-->
  </connectionStrings>
</configuration>