<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlServerDb" connectionString="Server=localhost\SQLEXPRESS;Integrated Security=SSPI;Database=Modl;" providerName="System.Data.SqlClient" />
    <add name="SqlServerCeDb" connectionString="Data Source=|DataDirectory|SQLCE4.sdf;" providerName="Microsoft.SQLSERVER.CE.OLEDB.4.0" />
    <add name="MySQLDb" connectionString="Server=.;User=test;Password=test;database=Modl;Max Pool Size=100;Pooling=true;Connection Reset=false;Protocol=pipe;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>